@model GolfBooking.Models.golf_trophy_category

@{
    ViewBag.Title = "Cập nhật danh mục Trophy Cup";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Navigation -->
        @Html.Partial("~/Views/_vMenu.cshtml")

<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">@ViewBag.Title</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    @using (Html.BeginForm()) {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        
                            <div class="form-group">
                                <label>Tên</label>
                                <input class="form-control" id="name" name="name" value="@Model.name">
                            </div>
                            <div class="form-group">
                                     <label>Ảnh đại diện *</label>
                                     <input name="imageFile" type="file" id="imageFile" value="" multiple="multiple" class="form-control" runat="server" onchange="uploadProcess();"/>                                
                                     <div id="progressbar" class="progressbar">
                                         <div id="progresslabel" class="progressbarlabel"></div>
                                     </div> 
                                     <input name="image" type="hidden" id="image" value="@Model.image" class="form-control" />                  
                                     <div id="imageShow" style="width:200px;height:200px;"></div>
                                     <script>
                                      if ("@Model.image" !== "") {
                                        $("#imageShow").html("<img src=\"@Model.image\" style=\"width:200px;height:200px;\">");
                                      }
                                      </script>
                            </div>
                            <p>
                                <input type="submit" value="Save" />
                            </p>
                        
                    }
                </div>
            </div>
    </div>
<script>
    //Image upload
    function uploadProcess() {
        //var title = unicodeToNoMark($("#title").val());
        //if (title.trim() == "") {
        //    alert("Nhập tên bài viết trước");
        //    document.getElementById("title").focus();
        //    document.getElementById('imageFile').value = "";
        //    return;
        //}
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('imageFile');
        for (var i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
            break;
        }
        //formdata.append("filename", title);
        showLoadingImage();
        var xhr = new XMLHttpRequest();
        xhr.upload.addEventListener("progress", function (evt) {
            if (evt.lengthComputable) {
                var progress = Math.round(evt.loaded * 100 / evt.total);
                $("#progressbar").progressbar("value", progress);
            }
        }, false);

        xhr.open('POST', '/trophy/UploadImageProcess');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                $('#imageShow').show();
                $('#imageShow').html("<img src=\"" + xhr.responseText + "\" style=\"width:200px;height:200px;\">");
                $('#image').val(xhr.responseText);
                hideLoadingImage();
            }
        }
        return false;
    }
</script>