@model PagedList.IPagedList<GolfBooking.Models.golf_trophy_category>
@using PagedList.Mvc;
@{
    ViewBag.Title = "list";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int slideCnt = 1;
}
<article id="content">
    <section class="container content-padding-lg" style="padding-top:2px;">
        <h6>Home » Golf Trophy » @ViewBag.catname</h6>
        <div class="row animated">
            @{

                foreach (var slider in ViewBag.banners)
                {
                    string display = "display:none";
                    if (slideCnt == 1) { display = ""; }
                    <text>
                        <div class="col-sm-12" style="background-color:#edebe1;padding-left:0px;padding-right:0px;@display" id=slide@{@slideCnt}>
                            <div style="width:100%;position:relative;display:block;float:left;padding-left:0px;">
                                <div class="col-sm-12" id=slide1bg style="border: 1px solid #bf0000; padding-left: 1px; background-image: url('@{@GolfBooking.Config.domain@slider.banner}'); background-position: center; background-size: 100% 100%; height: 300px;">
                                    <div style="padding-top:4px;display:block;color:#ffffff;position:absolute;float:left;top:60%;left:70%;background-color:#bf0000;width:17%;height:30px;text-align:center;">
                                        <a href="@Url.RouteUrl("trophyview", new { id=slider.id })" style="color:#ffffff;">Order Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </text>
                    slideCnt++;
                }

            }
        </div>
        <div class="row animated">
            <div class="col-sm-3">
                <div style="width:100%;display:block;position:relative;background-color:bf0000;border:1px solid #cecece;">
                    <h6 class="text-center" style="color:#fff;margin-bottom:5px;background-color:#bf0000;padding-top:10px;padding-bottom:10px;">Categories</h6>
                    <div class="row" style="padding-left:0px;width:100%;">
                        <ul>
                            @{
                                foreach (var cat in ViewBag.categories)
                                {
                                    string active = "";
                                    if (ViewBag.catid == cat.id)
                                    {
                                        active = "background-color:#edebe1;";
                                    }
                                    
                                    <text>
                                        <li style="border-bottom:1px solid #cecece;@active"><a href="@Url.RouteUrl("trophycategory", new { catid=cat.id })">> @cat.name</a></li>
                                    </text>
                                }
                            }
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-sm-9" style="padding-left:0px;padding-right:0px;">
                <div style="width:100%;position:relative;display:block;float:left;padding-left:0px;">
                    <div class="col-sm-12" id=slide1bg style="height:auto;">
                        @foreach (var item in Model)
                        {
                            <div style="margin-left:12px;width:28%;position:relative;float:left;border:1px solid #bf0000;text-align:center;background-color:#fff;">
                                <a href="@Url.RouteUrl("trophylist", new { id = item.id })"><img src="@{@GolfBooking.Config.domain@item.image}"></a>                                
                                <p style="color:#000000;text-align:center;background-color:#edebe1;"><a href="@Url.RouteUrl("trophycategory", new { catid=item.id})">> @item.name</a></p>
                            </div>
                        }
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("list", new { page, catid = ViewBag.catid}))
            </div>
        </div>

    </section>
</article><!-- #content -->
<script>
    var sl = 0;
    function changeBG() {
        sl++;
        //$('#slide1').slideDown(1000,changeBGDO());
        //console.log(sl);
        if (sl % 3 == 0) {
            //alert("1");
            //$('#header').fadeIn(3000,changeBGDO());
            $('#slide3').hide();
            $('#slide2').hide();
            $('#slide1').show();
            $('#slide1').animate({ opacity: 0.1 }, 1000, changeBGDO).animate({ opacity: 1 }, 1000);
            //$('#slide1').slideDown(1000);
        } else
            if (sl % 3 == 1) {
                $('#slide1').hide();
                $('#slide3').hide();
                $('#slide2').show();
                $('#slide2').animate({ opacity: 0.1 }, 1000, changeBGDO).animate({ opacity: 1 }, 1000);
                //$('#slide2').slideDown(3000);
                //$('#header').fadeIn(3000,changeBGDO());
            } else
                if (sl % 3 == 2) {
                    $('#slide1').hide();
                    $('#slide2').hide();
                    $('#slide3').show();
                    $('#slide3').animate({ opacity: 0.1 }, 1000, changeBGDO).animate({ opacity: 1 }, 1000);
                }
    }
    function changeBGDO() {
        //sl++;
        //console.log(sl);
        if (sl % 3 == 0) {
            $('#slide1bg').css("background-image", "url('images/gpsl1.gif')");
            //$('#slide1').slideUp(3000);
        } else
            if (sl % 3 == 1) {
                $('#slide2bg').css("background-image", "url('images/gpsl2.gif')");
                //$('#slide2').slideUp(3000);
            }
            else
                if (sl % 3 == 2) {
                    $('#slide3bg').css("background-image", "url('images/gpsl3.gif')");
                    //$('#slide3').slideUp(3000);
                }
    }
    setInterval(changeBG, 4000);
</script>