@model GolfBooking.Models.golf_trophy
@{
    ViewBag.Title = "view";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<article id="content">
    <section class="container content-padding-lg" style="padding-top:2px;">
        <h6>Home » Golf Trophy » @ViewBag.catname</h6>
        <div class="row animated">
            <div class="col-sm-3">
                <div style="width:100%;display:block;position:relative;background-color:bf0000;border:1px solid #cecece;">
                    <h6 class="text-center" style="color:#fff;margin-bottom:5px;background-color:#bf0000;padding-top:10px;padding-bottom:10px;">Categories</h6>
                    <div class="row" style="padding-left:0px;width:100%;">
                        <ul>
                             @{
                                foreach (var cat in ViewBag.categories)
                                {
                                    string active = "";
                                    if (ViewBag.catid == cat.id)
                                    {
                                        active = "background-color:#edebe1;";
                                    }
                                    
                                    <text>
                                        <li style="border-bottom:1px solid #cecece;@active"><a href="/Trophy/category?catid=@cat.id">> @cat.name</a></li>
                                    </text>
                                }
                            }
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-sm-9" style="padding-left:0px;padding-right:0px;">
                <div style="width:100%;position:relative;display:block;float:left;padding-left:0px;">
                    <div class="col-sm-12" id=slide1bg style="height:auto;">
                        <div style="width:42%;position:relative;float:left;border:1px solid #cfd5e3;text-align:center;background-color:#fff;height:300px;">
                            <h5 style="color:#595959;font-weight:bold;">@Model.name</h5>
                            <img src="@{@GolfBooking.Config.domain@Model.image}">
                            <p style="color:#000000;text-align:center;background-color:#edebe1;height:auto;bottom:0px;position:absolute;width:100%;">@ViewBag.catname</b></p>
                        </div>
                        <div style="width:57%;position:relative;float:left;border:1px solid #cfd5e3;text-align:center;background-color:#fff;height:300px;">
                            @Html.Raw(Model.des)
                            <input type="button" class="btn btn-primary btn-block" style="float:right;right:0;bottom:0;background-color:#bf0000;color:#ffffff;width:112px;font-size:11px;position:absolute;" name="Make Reservations" value="Order Now" onclick="showBookSource();">
                            <input type="button" class="btn btn-primary btn-block" style="float:left;left:0;bottom:0;background-color:#bf0000;color:#ffffff;width:112px;font-size:11px;position:absolute;" name="Make Reservations" value="@Model.price VNĐ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="booksource" style="width:60%;display:none;top:10px;left:20%;position:fixed;background-color:#00b04f;z-index:1001;">
            <div class="col-sm-8" style="width:100%;">
                <h6 class="text-center text-uppercase" style="margin-top:10px;border:1px solid #9FCC47;"><small style="color:#ffffff;">Come and Visit Us</small>Book this Trophy</h6>
                
                <div class="row">
                    <div class="booking-block col-sm-6 col-sm-offset-3">
                        <form id="booking-form" role="form">
                            <div class="form-group">
                                <label class="sr-only" >Email *</label>
                                <input type="text" class="form-control" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" >Phone *</label>
                                <input type="text" class="form-control" id="phone" placeholder="Phone">
                            </div>
                            <div class="form-group icon-arrow">
                                <label class="sr-only" for="room">Quantity</label>
                                <select class="form-control" id="quantity">
                                    <option value="-1" selected>Quantity</option>
                                    <option value="1" >1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value=">7">>7</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Description *</label>
                                <textarea id="full_details" placeholder="Description" class="form-control" rows="8"></textarea>
                            </div>                            
                            <div class="form-group">
                                <input type="button" class="btn btn-primary btn-block" id="btnAddNew" value="Make Reservations" onclick="booksource()">
                                <img id="imgloading" src="~/Images/loading.gif" style="display:none;" />
                                <input type="button" class="btn btn-primary btn-block" name="Make Close" value="Close" onclick="showBookSource()">
                            </div>
                        </form>
                    </div><!-- .booking-block -->
                </div>
            </div>
        </div>
    </section>
</article><!-- #content -->  
<script>
    function booksource() {
        //if (idDocument==-1 && document.getElementById("datetimepicker").value == "") {
        //    alert("Chọn ngày chơi");
        //    document.getElementById("datetimepicker").focus();
        //    return;
        //}
        //alert(document.getElementById("datetimepicker").value);
        if (document.getElementById("email").value == "") {
            alert("Email?");
            document.getElementById("email").focus();
            return;
        }
        if (document.getElementById("phone").value == "") {
            alert("Phone?");
            document.getElementById("phone").focus();
            return;
        }
        if (document.getElementById("quantity").value == -1) {
            alert("Quantity?");
            document.getElementById("quantity").focus();
            return;
        }
        $("#btnAddNew").hide();
        $("#imgloading").show();
       
        var formdata = new FormData(); //FormData object

        formdata.append("id", "@ViewBag.id");
        formdata.append("name", "@ViewBag.name");
        formdata.append("quantity", document.getElementById("quantity").value);
        formdata.append("full_details", document.getElementById("full_details").value);
        formdata.append("phone", document.getElementById("phone").value);
        formdata.append("email", document.getElementById("email").value);
        

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Trophy/book');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText != "0") {
                    alert("book golf course success! We will contact you soon!");
                    document.getElementById("booksource").style.display = "none";
                    $("#btnAddNew").show();
                    $("#imgloading").hide();
                } else {
                    alert("Error! Be back later!");
                }
                $("#btnAddNew").show();
            }
        }
    }
    function showBookSource() {
        $('html,body').scrollTop(0);
        if (document.getElementById("booksource").style.display == "none") {
            document.getElementById("booksource").style.display = "block";
        } else {
            document.getElementById("booksource").style.display = "none";
        }
    }
</script>