@{
    ViewBag.Title = "Thêm mới Golf Package - Stay and Play";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="/Scripts/ckeditor/ckeditor.js"></script>
<div id="wrapper">
        <!-- Navigation -->
        @Html.Partial("~/Views/_vMenu.cshtml")

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">@ViewBag.Title</h1>                        
                    </div>
                    <!-- /.col-lg-12 -->
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <button type="button" class="btn btn-primary" onclick="AddNew();" id="btnSA">Save All</button>
                                    -<a href="/packagestay/index">Quay lại danh sách</a>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <form role="form">
                                            <!-- /.panel-heading -->
                                            <div class="panel-body">
                                                <!-- Nav tabs -->
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#general" data-toggle="tab">Thông tin chung</a>
                                                    </li>                                                    
                                                    <li><a href="#gi" data-toggle="tab">Album ảnh(3 ảnh bên trong)</a>
                                                    </li>
                                                </ul>
                                                <!-- Tab panes -->
                                                <div class="tab-content">
                                                    <div class="tab-pane fade in active" id="general">
                                                        <form role="form">
                                                            <div class="form-group">
                                                                <label>Sân golf *(<i>gõ tìm tên sân golf có gói dịch vụ này</i>)</label>
                                                                <input class="form-control"  id="autogolfname" name="autogolfname" value="@ViewBag.autogolfname" onkeyup="autosearch();">
                                                                <input type="hidden" id="golf_id" name="golf_id" value="@ViewBag.golf_id">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Tên gói dịch vụ *</label>
                                                                <input class="form-control"  id="name" name="name" value="@ViewBag.name">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Ảnh đại diện lớn *</label>
                                                                <input name="imageFile" type="file" id="imageFile" value="" multiple="multiple" class="form-control" runat="server" onchange="uploadProcess();"/>                                
                                                                <div id="progressbar" class="progressbar">
                                                                    <div id="progresslabel" class="progressbarlabel"></div>
                                                                </div> 
                                                                <input name="image" type="hidden" id="image" value="@ViewBag.image" class="form-control" />                  
                                                                <div id="imageShow" style="width:100%;height:300px;display:none;"></div>
                                                                <script>
                                                                    if ("@ViewBag.image" !== "") {
                                                                        $("#imageShow").html("<img src=\"@ViewBag.image\" style=\"width:100%;height:300px;\">");
                                                                        $("#imageShow").show();
                                                                    }
                                                                </script>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Loại dịch vụ (Golf Package/Stay and Play?) *</label>
                                                                <select class="form-control"  id="type" name="type">
                                                                    <option value="1">Golf Package</option>
                                                                    <option value="2">Stay and Play</option>
                                                                </select>    
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Giá gói dịch vụ *</label>
                                                                <input class="form-control"  id="min_price" name="min_price" value="@ViewBag.min_price">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Giới thiệu ngắn *</label>
                                                                <textarea name="des" id="des" rows="9">
                                                                        @Html.Raw(@ViewBag.des)
                                                                </textarea>
                                                                <script>
                                                                    CKEDITOR.replace('des');
                                                                </script>                                                             
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Chi tiết dịch vụ *</label>
                                                                <textarea name="full_detail" id="full_detail" rows="9">
                                                                        @Html.Raw(@ViewBag.full_detail)
                                                                </textarea>
                                                                <script>
                                                                    CKEDITOR.replace('full_detail');
                                                                </script>                                                             
                                                            </div>                                                            
                                                                                                             
                                                        </form>
                                                    </div> 
                                                    <div class="tab-pane fade" id="gi">
                                                        <h4>Album ảnh(3 ảnh bên trong)</h4>
                                                        <div >
                                                            <input name="imageFileGi" type="file" id="imageFileGi" value="" multiple="multiple" class="form-control" runat="server" onchange="uploadProcessGi();"/>                                
                                                            <div id="progressbarGi" class="progressbar">
                                                                    <div id="progresslabelGi" class="progressbarlabel"></div>
                                                                </div> 
                                                            <div >
                                                                <table id="gidv" class="table table-striped table-bordered table-hover" >
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Ảnh</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>                                                   
                                                </div>
                                            </div>
                                            <!-- /.panel-body -->                          
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
        
    </div>
    <!-- /#wrapper -->
<script>
    var id = 0;
    
    if ("@ViewBag.id" != "0") {
        id = @ViewBag.id;      
        document.getElementById("type").value="@ViewBag.type";
    }
    
    function AddNew() {
        var formdata = new FormData(); //FormData object
        var name = document.getElementById("name").value;
        var des = CKEDITOR.instances.des.getData();
        var full_detail = CKEDITOR.instances.full_detail.getData();        
        var golf_id = document.getElementById("golf_id").value;
        var image = document.getElementById("image").value;
        var min_price = document.getElementById("min_price").value;
        var type = document.getElementById("type").value;

        if (golf_id == 0 || golf_id == null || golf_id=="") {
            alert("Nhập sân golf");
            return;
        }
        if (name==""){
            alert("Nhập tên gói dịch vụ");
            return;
        }
        if (des=="") {
            alert("Nhập giới thiệu ngắn về dịch vụ");
            return;
        }
        if (full_detail=="") {
            alert("Nhập chi tiết dịch vụ");
            return;
        }        
        if (image=="") {
            alert("Nhập ảnh đại diện");
            return;
        }
        if (LGI==0) {
            alert("Nhập album ảnh(3 ảnh) bên trong");
            return;
        }        
        document.getElementById("btnSA").disabled=true;
        formdata.append("name", name);
        formdata.append("des", des);
        formdata.append("full_detail", full_detail);
        formdata.append("golf_id", golf_id);
        formdata.append("min_price", min_price);
        formdata.append("image", image);
        formdata.append("type", type);
        formdata.append("id", id);//id=0 add new, id!=0 is update
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/PackageStay/Update');
        xhr.send(formdata);
        var content = "";
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText != "0") { 
                    updateGI(xhr.responseText);
                    //updatePrice(xhr.responseText);
                    //window.location.href = "/golf/index";
                } else {
                    document.getElementById("btnSA").disabled=false;
                    alert("Có lỗi trong quá trình cập nhật dữ liệu");
                }
            }
            
        }
    }
    //Image upload
    function uploadProcess() {
        //var title = unicodeToNoMark($("#title").val());
        //if (title.trim() == "") {
        //    alert("Nhập tên bài viết trước");
        //    document.getElementById("title").focus();
        //    document.getElementById('imageFile').value = "";
        //    return;
        //}
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('imageFile');
        for (var i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
            break;
        }
        //formdata.append("filename", title);
        showLoadingImage();
        var xhr = new XMLHttpRequest();
        xhr.upload.addEventListener("progress", function (evt) {
            if (evt.lengthComputable) {
                var progress = Math.round(evt.loaded * 100 / evt.total);
                $("#progressbar").progressbar("value", progress);
            }
        }, false);

        xhr.open('POST', '/PackageStay/UploadImageProcess');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                $('#imageShow').show();
                $('#imageShow').html("<img src=\"" + xhr.responseText + "\" style=\"width:100%;height:300px;\">");
                $('#image').val(xhr.responseText);
                hideLoadingImage();
            }
        }
        return false;
    }
    
    var GI = [];
    var LGI=0;
    //Image upload
    function uploadProcessGi() {
        
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('imageFileGi');
        for (var i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        //formdata.append("filename", title);
        showLoadingImage();
        var xhr = new XMLHttpRequest();
        xhr.upload.addEventListener("progress", function (evt) {
            if (evt.lengthComputable) {
                var progress = Math.round(evt.loaded * 100 / evt.total);
                $("#progressbarGi").progressbar("value", progress);
            }
        }, false);

        xhr.open('POST', '/PackageStay/UploadImageProcessGi');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
               
                var news = '{"news":' + xhr.responseText + '}';
                var json_parsed = $.parseJSON(news);            
                
                for (var i = 0; i < json_parsed.news.length; i++) {
                    if (json_parsed.news[i]) {
                        var name = json_parsed.news[i];
                        //alert(name);
                        GI.push(name);                        
                        $("#gidv").append("<tr class=\"odd gradeX\" id=trimage_"+LGI+"><td><img src=\""+name+"\" width=100 height=100></td><td><a onclick=\"delImage("+LGI+");\" style=\"cursor:pointer;\">Xóa</a></td></tr>");
                        LGI++;
                    }
                }
                hideLoadingImage();
            }
        }
        return false;
    }
    //Image upload
    function getGI(id) {
        var formdata = new FormData(); //FormData object
        formdata.append("id", id);        
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/PackageStay/getGI');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {  
                if (xhr.responseText=="0") return;
                var news = '{"news":' + xhr.responseText + '}';
                var json_parsed = $.parseJSON(news);            
                //$("#provin").html("");
                for (var i = 0; i < json_parsed.news.length; i++) {
                    if (json_parsed.news[i]) {
                        var name = json_parsed.news[i];
                        //alert(name);
                        GI.push(name);                        
                        $("#gidv").append("<tr class=\"odd gradeX\" id=trimage_"+LGI+"><td><img src=\""+name+"\" width=100 height=100></td><td><a onclick=\"delImage("+LGI+");\" style=\"cursor:pointer;\">Xóa</a></td></tr>");
                        LGI++;
                    }
                }
                //$("#provin").val(value);
            }
        }
        return false;
    }
    getGI(@ViewBag.id);
   
    //Image upload
    function updateGI(id) {
        showLoadingImage();
        var formdata = new FormData(); //FormData object    
        var xhr = new XMLHttpRequest();
        for (var i = 0; i < LGI; i++) {
            //Appending each file to FormData object
            formdata.append("name_"+i, GI[i]);
        }        

        formdata.append("count",LGI);
        formdata.append("id",id);
        xhr.open('POST', '/PackageStay/updateGI');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText=="0"){
                    alert("Cập nhật album ảnh có lỗi xảy ra(đường truyền, phần mềm)! Bạn cập nhật lại sau!");
                }
                hideLoadingImage();
                window.location.href = "/PackageStay/index";
            }
        }
        return false;
    }
    
    function delImage(index){
        GI[index]="";
        $("#trimage_"+index).hide();
    }
    function autosearch() {
        var keyword = document.getElementById("autogolfname").value;
        urlSearch = '/golf/autosearch?keyword=';
        $('#autogolfname').autocomplete({
            source: urlSearch + keyword,
            select: function (event, ui) {
                $(event.target).val(ui.item.value);
                setgolfid(""+ui.item.value+"");
                return false;
            },
            minLength: 1
        });
    }
    function setgolfid(keyword) {
        var formdata = new FormData(); //FormData object    
        var xhr = new XMLHttpRequest();
        

        formdata.append("keyword", keyword);       
        xhr.open('POST', '/golf/getgolfid');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText == "0") {
                    alert("Bạn phải chọn tên sân golf có gói dịch vụ này!");
                } else {
                    document.getElementById("golf_id").value = xhr.responseText;
                    //alert(xhr.responseText);
                }
            }
        }
    }
</script>