@model GolfBooking.Models.golf_package_stay

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>golf_package_stay</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.golf_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.golf_id)
            @Html.ValidationMessageFor(model => model.golf_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.des)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.des)
            @Html.ValidationMessageFor(model => model.des)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.full_detail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.full_detail)
            @Html.ValidationMessageFor(model => model.full_detail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.min_price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.min_price)
            @Html.ValidationMessageFor(model => model.min_price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.deleted)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.deleted)
            @Html.ValidationMessageFor(model => model.deleted)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.type)
            @Html.ValidationMessageFor(model => model.type)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
