@model GolfBooking.Models.news

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<article id="content">
				<section class="container content-padding-lg" style="padding-top:2px;">
					<h6>Home » Golf News » Details</h6>
					<div class="row animated">
                            @Html.Partial("~/Views/_vLeftMenu.cshtml")
							<div class="col-sm-8">                                
                                    <div class="entry sticky animated" style="display:block;position:relative;float:left;">
		  						        <h2><a href="#">@Model.title</a> <small><i class="fa fa-calendar"></i>@Model.date_time</small></h2>
                                        <div style="display:block;position:relative;float:left;">                                        
		  						                  @Html.Raw(@Model.full_details)                                         
                                        </div>
								    </div>
                                
                            </div>
                    </div>
                    
                </section>
</article>
