@model GolfBooking.Models.slide

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>slide</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.image)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.caption)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.caption)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.imagelink)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.imagelink)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.slogan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.slogan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.link)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.link)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.linktext)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.linktext)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.deleted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.deleted)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
